<div class="container">
    <br/>
    <div class="explanation alert alert-primary alert-dismissible fade show" role="alert">
        El ejercicio consiste en crear una webapp para dispositivos móviles de tracking:
        Nuestra app tiene un gran botón de "LOCATION NOW" al presionarlo guarda en el dispositivo la latitud y longitud.
        Es posible ver la lista de las ubicaciones almacenadas.
        (EXTRA) Si fue muy fácil, agregamos un condimento que se tomará en cuenta: En la lista de las ubicaciones podemos ver la dirección postal de ese punto en específico.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="d-grid gap-2">
        <button class="btn btn-primary btn-lg" type="button" (click)="getLocation()" [disabled]="isLoading">
            <span *ngIf="!isLoading">LOCATION NOW</span>
            <div *ngIf="isLoading" class="spinner-border" role="status">
                <!-- <span class="sr-only">Loading...</span> -->
            </div>
        </button>
    </div>

    <div class="table-responsive" *ngIf="locations.length > 0">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Latitud</th>
                    <th>Longitud</th>
                    <th>Código Postal</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let location of locations; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ location.latitude }}</td>
                    <td>{{ location.longitude }}</td>
                    <td>{{ location.zip_code }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
